/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #0432ff;
  --ifm-color-primary-dark: #002be9;
  --ifm-color-primary-darker: #0028dc;
  --ifm-color-primary-darkest: #0021b5;
  --ifm-color-primary-light: #1e47ff;
  --ifm-color-primary-lighter: #2b52ff;
  --ifm-color-primary-lightest: #5271ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0096ff;
  --ifm-color-primary-dark: #0087e6;
  --ifm-color-primary-darker: #007fd9;
  --ifm-color-primary-darkest: #0069b3;
  --ifm-color-primary-light: #1aa0ff;
  --ifm-color-primary-lighter: #26a6ff;
  --ifm-color-primary-lightest: #4db5ff;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/*
fiddling with base font size not a good idea
broke front page on linux
*/

/* different font for headings etc looks nice */
/* plus fallback */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ifm-heading-font-family: Montserrat, system-ui
}

.navbar__title, .navbar__item {
  font-family: Montserrat, system-ui
}